<h2>Update a Power</h2>

<%= flash[:message] %>
<%= form_for @power do |p| %>
    Name: <%= p.text_field :name %><br><br>
    Description: <%= p.text_field :description %><br><br>
    Heroines: <%= p.collection_check_boxes :heroine_ids, Heroine.all, :id, :name %>
    <%= p.submit %>
<% end %>
